<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>planets</key>
		<array>
			<dict>
				<key>image</key>
				<string></string>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>image</key>
				<string></string>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>image</key>
				<string></string>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>pass_score</key>
		<integer>0</integer>
		<key>bomb_type</key>
		<string></string>
		<key>star_type</key>
		<string></string>
	</dict>
	<dict>
		<key>planets</key>
		<array>
			<dict>
				<key>image</key>
				<string></string>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>image</key>
				<string></string>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>image</key>
				<string></string>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>pass_score</key>
		<integer>0</integer>
		<key>bomb_type</key>
		<string></string>
		<key>star_type</key>
		<string></string>
	</dict>
</array>
</plist>
