<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>planets</key>
		<array>
			<dict>
				<key>image</key>
				<string>moon</string>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.6</real>
			</dict>
		</array>
		<key>pass_score</key>
		<integer>50</integer>
		<key>bomb_type</key>
		<string>throw</string>
		<key>star_type</key>
		<string>throw</string>
	</dict>
	<dict>
		<key>planets</key>
		<array>
			<dict>
				<key>image</key>
				<string>moon</string>
				<key>x</key>
				<real>0.3</real>
				<key>y</key>
				<real>0.8</real>
			</dict>
			<dict>
				<key>image</key>
				<string>moon</string>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.8</real>
			</dict>
		</array>
		<key>pass_score</key>
		<integer>100</integer>
		<key>bomb_type</key>
		<string>horizon</string>
		<key>star_type</key>
		<string>throw</string>
	</dict>
</array>
</plist>
